body {
      background: url(../background.JPG);
      background-size: 100%;
      background-repeat: no-repeat;
      color:black;
      height:100%;
    }
table {
   table-layout: auto;
   width:1%;
   white-space:nowrap;
}
