<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px;
			text-align: left;
		}
	</style>
	<link rel="stylesheet" href='../static/style.css' />
</head>

<body>
	<div class="row">
		<div class="col-md-6">
			<h3 class="text-center">
				Outside temperature
			</h3>
			<div class="row">
				<div class="col-md-12">

					<h3>
						{{ outside_temperature }}
					</h3>
				</div>
			</div>
		</div>
		<div>
			<h3>
				Inside temperature
			</h3>
			<div class="row">
				<div class="col-md-6">
					<h3>
						{{ inside_temperature }}
					</h3>
				</div>
				<div class="col-md-6"></div>
					<h3>
						Humidity
					</h3>
					<h3>
						{{ inside_humidity }}
					</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
	<table class="a">
		<tr>
			<th>Time</th>
			<th>Temperature</th>
			<th>Description</th>
			<th>Pressure</th>
			<th>Humidity</th>
			<th>Rain</th>
			<th>Snow</th>
		</tr>
		<tr>
			<td>{{time1}}</td>
			<td>{{temp1}}</td>
			<td>{{desc1}}</td>
			<td>{{pressure1}}</td>
			<td>{{humidity1}}</td>
			<td>{{rain1}}</td>
			<td>{{snow1}}</td>
		</tr>
		<tr>
			<td>{{time2}}</td>
			<td>{{temp2}}</td>
			<td>{{desc2}}</td>
			<td>{{pressure2}}</td>
			<td>{{humidity2}}</td>
			<td>{{rain2}}</td>
			<td>{{snow2}}</td>
		</tr>
		<tr>
			<td>{{time3}}</td>
			<td>{{temp3}}</td>
			<td>{{desc3}}</td>
			<td>{{pressure3}}</td>
			<td>{{humidity3}}</td>
			<td>{{rain3}}</td>
			<td>{{snow3}}</td>
		</tr>
		<tr>
			<td>{{time4}}</td>
			<td>{{temp4}}</td>
			<td>{{desc4}}</td>
			<td>{{pressure4}}</td>
			<td>{{humidity4}}</td>
			<td>{{rain4}}</td>
			<td>{{snow4}}</td>
		</tr>
		<tr>
			<td>{{time5}}</td>
			<td>{{temp5}}</td>
			<td>{{desc5}}</td>
			<td>{{pressure5}}</td>
			<td>{{humidity5}}</td>
			<td>{{rain5}}</td>
			<td>{{snow5}}</td>
		</tr>
		<tr>
			<td>{{time6}}</td>
			<td>{{temp6}}</td>
			<td>{{desc6}}</td>
			<td>{{pressure6}}</td>
			<td>{{humidity6}}</td>
			<td>{{rain6}}</td>
			<td>{{snow6}}</td>
		</tr>
	</table>
	<br>
	<img src= {{ outside_temperature_chart }} width="600" height="400">
	<img src="{{url_for('static', filename='img/11_15_2019_inside temperature.png')}}" width="600" height="400">
	<img src="{{url_for('static', filename='img/11_15_2019_humidity.png')}}" width="600" height="400">
</body>

</html>